<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>Books & Authors</title>
</head>

<body>
  <div class="container my-5 ">
    <div class="d-flex justify-content-evenly">
      <div>
        <h1 class="mb-4">Add an Author</h1>
        
          <form action="/register_author_form" method="post">
            {%  csrf_token %}
          <div class="mb-4"> 
          <label for="first_name" class="form-label">First Name</label>
          <input type="text" class="form-control" id="first_name" name="first_name">
        </div>
        <div class="mb-4"> 
          <label for="last_name" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="last_name" name="last_name">
        </div>
        <div class="mb-3">
          <label for="note" class="form-label">Notes</label>
          <textarea class="form-control" id="note" rows="3" name="note"></textarea>
          <button type="submit" class="btn btn-primary btn m-3">Add</button>
        
        </div>
      </form>
      </div>
      <div class="w-25 p-3 h-auto d-inline-block">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Title</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for author in authors %}
            <tr>
              <th scope="row">{{author.id}}</th>
              <td>{{author.first_name}} {{author.last_name}}</td>
              <td>
                <form action="/authors/{{author.id}}" method="post"> 
                  {% csrf_token %}  
                  <button type="submit" class="btn btn-info btn-sm">View</button></form>
            </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>