<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <title>C+R Users</title>
</head>
<body>
  <h1>All the Users</h1>
    <table class="center">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th> 
        <th>Age</th>   
        <th>DELETE</th>

      </tr>
    </thead>
    <tbody>
      {%for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.first_name }} {{ user.last_name }} 
        </a></td>
        <td>{{ user.email }}</td>
        <td>{{ user.age }}</td>       
        <td><a href="delete_user/{{ user.id }}"><img src="{% static 'img/remove.png' %}">
        </a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    
    <hr>
    <form action="/add_user" method="post">
      {% csrf_token %}
      <h1>Add a User</h1>
      <div>
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name">

        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email">

        <label for="age">Age</label>
        <input type="number" name="age" id="age">
        <div>
      <input type="submit" value="Add">
    </div>
    </div>
    </form>
</body>
</html>